$font: "Segoe UI Light","Segoe WPC","Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
$fontsize: 16pt;
$heightButton: 50px;
$colLink: #FF7919;
$colWhite: #FFFFFF;
$colBlack: #000000;
$colBackground: #EDEDED;
$colLogo: $colBackground - 70;
$colError: #FF0000;

@mixin border-radius($radius:5px)
{
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body
{
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: $fontsize;
  background-color: $colBackground;
}

a, h1, h2, h3
{
  color: $colLink;
  text-decoration: none;
  font-family: $font;
}

h1
{
  font-size: 20pt;
  font-weight: lighter;
}

form{
  margin:0px;
  padding:0px;
  display: block;
}

nav{
  width: 100%;
  height: auto;

  ul{
    margin: 0;
    padding: 0;

    li{
      width: 100%;
      height: $heightButton;
      background-color: $colWhite;
      list-style: none;
      margin: 1px 0;
      text-align: center;

      a{
        line-height: $heightButton;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }
}

#navigation{
  height: 0;
  overflow: hidden;
  transition: height 0.25s linear;
}

.wrapper{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.logo{
  width: 100%;
  font-size: 28pt;
  text-align: left;
  background-color: $colLogo;
  color: $colWhite;
  height: $heightButton;
}

#hamburger{
  float: right;
  border-style: none;

  color: $colWhite;
  background: $colLogo;

  width: 20%;
  height: 100%;
  line-height: $heightButton;

  margin: 0 auto;
  font-size: 26px;
  font-family: $font;
}

#hamburger:focus{
  outline:0;
}

table, th, td{
  border: 1px solid $colLogo;
  background-color: $colWhite;
}

table{
  border-collapse: collapse;
  margin: 20px 0px;
  width: 100%
}

.colProject{
  width: 25%;
}

.colState{
  width: 25%;
}

.colDescription{
  width: 50%;
}

#tools{
  margin: 20px 0 -10px 0;

  ul{
    li{
      border-top: 1px solid $colLogo;
      border-bottom: 1px solid $colLogo;

      margin: 5px 0;
    }
  }
}

form{
  border-top: 1px solid $colLogo;
  border-bottom: 1px solid $colLogo;

  background-color: $colWhite;

  margin: 40px 0;
  padding: 20px;
}

#mainLogin{
  width: 60%;
  margin: 0 auto;
  height: auto;

  label{
    width: 100%;
  }

  input[type="text"], input[type="password"]{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  input[type="submit"]{
    cursor: pointer;
    margin: 10px 0;

    width: 100%;
    height: 30px;

    background-color: $colWhite;
    color: $colLink;

    box-shadow: none;
    box-sizing: content-box;

    border: 1px solid $colLogo;
  }

  input[type="submit"]:focus{
    outline: 0;
    background-color: $colWhite - 10;
  }
}

#error{
  border: 1px solid $colError + 50;
  background-color: $colError + 200;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  display: none;
  opacity: 0;
  transition: opacify 1.0s linear;
}

.sprint{
  border-top: 1px solid $colLogo;
  border-bottom: 1px solid $colLogo;

  background-color: $colWhite;

  padding: 10px;
  margin: 20px 0;

  a{
    display: inline-block;
    font-size: $fontsize +4 ;
    width: 100%;
  }

  b{
    padding-top: 10px;
    width: 100%;
    display: inline-block;
  }

  .sprintDescription{
    overflow: hidden;
    max-height: 110px;
    display: block;
  }
}

select{
  width: 100%;
  height: $heightButton;
  
  margin: 20px 0 0 0;
  padding: 0 10px;

  border: 0;
  border-top: 1px solid $colLogo;
  border-bottom: 1px solid $colLogo;

  font-size: $fontsize;
  font-family: $font;
}

select:active, select:focus{
  outline: 0;
}

.supportTicket, .invoice{
  margin: 20px 0;
  padding: 10px;

  border-top: 1px solid $colLogo;
  border-bottom: 1px solid $colLogo;

  background-color: $colWhite;

  height: auto;

  .title{
    font-size: $fontsize + 4;
    color: $colBlack;
    width: 80%;
    display: inline-block;
  }

  img{
    max-width: 20%;
    width: 32px;
    height: auto;
    float: right;
    opacity: 1;
  }
}

.supportTicket{

  .subpage{
    display: block;
    width: 100%;
  }
}

.invoice{
  .description{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    transition: height 0.25s linear;
  }

  b{
    width: 50%;
    display: inline-block;
  }

  .dateSent, .daysDue{
    width: 50%;
    display: inline-block;
  }

  .price{
    display: block;
    width: 100%;
    text-align: right;
    color: #00FF00;
    font-size: $fontsize+8;
  }
}