body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
  font-size: 16pt;
  background-color: #EDEDED; }

a, h1, h2, h3 {
  color: #FF7919;
  text-decoration: none;
  font-family: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif; }

h1 {
  font-size: 20pt;
  font-weight: lighter; }

form {
  margin: 0px;
  padding: 0px;
  display: block; }

nav {
  width: 100%;
  height: auto; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      width: 100%;
      height: 50px;
      background-color: #FFFFFF;
      list-style: none;
      margin: 1px 0;
      text-align: center; }
      nav ul li a {
        line-height: 50px; }
      nav ul li a:hover {
        text-decoration: none; }

#navigation {
  height: 0;
  overflow: hidden;
  transition: height 0.25s linear; }

.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0; }

.logo {
  width: 100%;
  font-size: 28pt;
  text-align: left;
  background-color: #a7a7a7;
  color: #FFFFFF;
  height: 50px; }

#hamburger {
  float: right;
  border-style: none;
  color: #FFFFFF;
  background: #a7a7a7;
  width: 20%;
  height: 100%;
  line-height: 50px;
  margin: 0 auto;
  font-size: 26px;
  font-family: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif; }

#hamburger:focus {
  outline: 0; }

table, th, td {
  border: 1px solid #a7a7a7;
  background-color: #FFFFFF; }

table {
  border-collapse: collapse;
  margin: 20px 0px;
  width: 100%; }

.colProject {
  width: 25%; }

.colState {
  width: 25%; }

.colDescription {
  width: 50%; }

#tools {
  margin: 20px 0 -10px 0; }
  #tools ul li {
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    margin: 5px 0; }

form {
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  background-color: #FFFFFF;
  margin: 40px 0;
  padding: 20px; }

#mainLogin {
  width: 60%;
  margin: 0 auto;
  height: auto; }
  #mainLogin label {
    width: 100%; }
  #mainLogin input[type="text"], #mainLogin input[type="password"] {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px; }
  #mainLogin input[type="submit"] {
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    color: #FF7919;
    box-shadow: none;
    box-sizing: content-box;
    border: 1px solid #a7a7a7; }
  #mainLogin input[type="submit"]:focus {
    outline: 0;
    background-color: whitesmoke; }

#error {
  border: 1px solid #ff9696;
  background-color: #ffe1e1;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  display: none;
  opacity: 0;
  transition: opacity 1.0s linear;
  font-size: 14pt; }

.sprint {
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  background-color: #FFFFFF;
  padding: 10px;
  margin: 20px 0; }
  .sprint a {
    display: inline-block;
    font-size: 20pt;
    width: 100%; }
  .sprint b {
    padding-top: 10px;
    width: 100%;
    display: inline-block; }
  .sprint .sprintDescription {
    overflow: hidden;
    max-height: 110px;
    display: block; }

select {
  width: 100%;
  height: 50px;
  margin: 20px 0 0 0;
  padding: 0 10px;
  border: 0;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  font-size: 16pt;
  font-family: "Segoe UI Light", "Segoe WPC", "Segoe UI", Helvetica, Arial, "Arial Unicode MS", Sans-Serif; }

select:active, select:focus {
  outline: 0; }

.supportTicket, .invoice {
  margin: 20px 0;
  padding: 10px;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  background-color: #FFFFFF;
  height: auto; }
  .supportTicket .title, .invoice .title {
    font-size: 20pt;
    color: #000000;
    width: 80%;
    display: inline-block; }
  .supportTicket img, .invoice img {
    max-width: 20%;
    width: 32px;
    height: auto;
    float: right;
    opacity: 1; }

.supportTicket .subpage {
  display: block;
  width: 100%; }

.invoice .description {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: height 0.25s linear; }
.invoice b {
  width: 50%;
  display: inline-block; }
.invoice .dateSent, .invoice .daysDue {
  width: 50%;
  display: inline-block; }
.invoice .price {
  display: block;
  width: 100%;
  text-align: right;
  color: #00FF00;
  font-size: 24pt; }

#formInvoice label {
  width: 100%; }
#formInvoice #lblDateSent, #formInvoice #dpDateSent {
  display: none; }
#formInvoice input[type="text"], #formInvoice input[type="date"], #formInvoice input[type="number"] {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  padding-left: 10px; }
#formInvoice textarea {
  width: 98%;
  margin-bottom: 15px;
  padding: 5px 10px;
  min-height: 100px; }
#formInvoice input[type="checkbox"] {
  margin-bottom: 15px;
  padding-left: 10px; }
#formInvoice input[type="submit"] {
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  height: 30px;
  background-color: #FFFFFF;
  color: #FF7919;
  box-shadow: none;
  box-sizing: content-box;
  border: 1px solid #a7a7a7; }
#formInvoice input[type="submit"]:focus {
  outline: 0;
  background-color: whitesmoke; }
#formInvoice select {
  width: 100%;
  height: 35px;
  border: 1px solid #a7a7a7;
  margin: 10px 0px;
  padding: 0px 10px; }

/*# sourceMappingURL=style.css.map */
